<?xml version='1.0' encoding='UTF-8'?>
<jsp:root xmlns:jsp="http://java.sun.com/JSP/Page" version="2.1"
          xmlns:f="http://java.sun.com/jsf/core"
          xmlns:h="http://java.sun.com/jsf/html"
          xmlns:af="http://xmlns.oracle.com/adf/faces/rich">
  <jsp:directive.page contentType="text/html;charset=UTF-8"/>
  <f:view>
    <af:document id="d1">
      <af:messages id="m1"/>
      <af:form id="f1">
        <af:panelGroupLayout layout="vertical" id="pgl1">
          <af:panelHeader text="Search Employees" id="ph1" size="1"
                          inlineStyle="width:50.0%;">
            <af:query id="qryId1" headerText="Search" disclosed="true"
                      value="#{bindings.findByDepartmentMgridQuery.queryDescriptor}"
                      model="#{bindings.findByDepartmentMgridQuery.queryModel}"
                      queryListener="#{bindings.findByDepartmentMgridQuery.processQuery}"
                      queryOperationListener="#{bindings.findByDepartmentMgridQuery.processQueryOperation}"
                      resultComponentId="::resId1"/>
          </af:panelHeader>
          <af:table value="#{bindings.EmployeesVO1.collectionModel}" var="row"
                    rows="#{bindings.EmployeesVO1.rangeSize}"
                    emptyText="#{bindings.EmployeesVO1.viewable ? 'No data to display.' : 'Access Denied.'}"
                    fetchSize="#{bindings.EmployeesVO1.rangeSize}"
                    rowBandingInterval="0" id="resId1" inlineStyle="width:50.0%;">
            <af:column sortProperty="EmployeeId" sortable="false"
                       headerText="#{bindings.EmployeesVO1.hints.EmployeeId.label}"
                       id="resId1c1" width="50">
              <af:outputText value="#{row.EmployeeId}" id="ot9">
                <af:convertNumber groupingUsed="false"
                                  pattern="#{bindings.EmployeesVO1.hints.EmployeeId.format}"/>
              </af:outputText>
            </af:column>
            <af:column sortProperty="FirstName" sortable="false"
                       headerText="#{bindings.EmployeesVO1.hints.FirstName.label}"
                       id="resId1c2" width="75">
              <af:outputText value="#{row.FirstName}" id="ot2"/>
            </af:column>
            <af:column sortProperty="LastName" sortable="false"
                       headerText="#{bindings.EmployeesVO1.hints.LastName.label}"
                       id="resId1c3" width="75">
              <af:outputText value="#{row.LastName}" id="ot3"/>
            </af:column>
            <af:column sortProperty="Email" sortable="false"
                       headerText="#{bindings.EmployeesVO1.hints.Email.label}"
                       id="resId1c4" width="75">
              <af:outputText value="#{row.Email}" id="ot5"/>
            </af:column>
            <af:column sortProperty="PhoneNumber" sortable="false"
                       headerText="#{bindings.EmployeesVO1.hints.PhoneNumber.label}"
                       id="resId1c5" width="75">
              <af:outputText value="#{row.PhoneNumber}" id="ot6"/>
            </af:column>
            <af:column sortProperty="HireDate" sortable="false"
                       headerText="#{bindings.EmployeesVO1.hints.HireDate.label}"
                       id="resId1c6" width="75">
              <af:outputText value="#{row.HireDate}" id="ot1">
                <af:convertDateTime pattern="#{bindings.EmployeesVO1.hints.HireDate.format}"/>
              </af:outputText>
            </af:column>
            <af:column sortProperty="JobId" sortable="false"
                       headerText="#{bindings.EmployeesVO1.hints.JobId.label}"
                       id="resId1c7" width="75">
              <af:outputText value="#{row.JobId}" id="ot7"/>
            </af:column>
            <af:column sortProperty="Salary" sortable="false"
                       headerText="#{bindings.EmployeesVO1.hints.Salary.label}"
                       id="resId1c8" width="75">
              <af:outputText value="#{row.Salary}" id="ot4">
                <af:convertNumber groupingUsed="false"
                                  pattern="#{bindings.EmployeesVO1.hints.Salary.format}"/>
              </af:outputText>
            </af:column>
            <af:column sortProperty="CommissionPct" sortable="false"
                       headerText="#{bindings.EmployeesVO1.hints.CommissionPct.label}"
                       id="resId1c9" width="50">
              <af:outputText value="#{row.CommissionPct}" id="ot10">
                <af:convertNumber groupingUsed="false"
                                  pattern="#{bindings.EmployeesVO1.hints.CommissionPct.format}"/>
              </af:outputText>
            </af:column>
            <af:column sortProperty="DepartmentId" sortable="false"
                       headerText="#{bindings.EmployeesVO1.hints.DepartmentId.label}"
                       id="resId1c11" width="50">
              <af:outputText value="#{row.DepartmentId}" id="ot11">
                <af:convertNumber groupingUsed="false"
                                  pattern="#{bindings.EmployeesVO1.hints.DepartmentId.format}"/>
              </af:outputText>
            </af:column>
            <af:column sortProperty="ManagerId" sortable="false"
                       headerText="#{bindings.EmployeesVO1.hints.ManagerId.label}"
                       id="resId1c10" width="50">
              <af:outputText value="#{row.ManagerId}" id="ot8">
                <af:convertNumber groupingUsed="false"
                                  pattern="#{bindings.EmployeesVO1.hints.ManagerId.format}"/>
              </af:outputText>
            </af:column>
          </af:table>
          <f:facet name="separator">
            <af:spacer width="10" height="10" id="s1"/>
          </f:facet>
        </af:panelGroupLayout>
      </af:form>
    </af:document>
  </f:view>
</jsp:root>
