<?xml version='1.0' encoding='UTF-8'?>
<jsp:root xmlns:jsp="http://java.sun.com/JSP/Page" version="2.1"
          xmlns:f="http://java.sun.com/jsf/core"
          xmlns:h="http://java.sun.com/jsf/html"
          xmlns:af="http://xmlns.oracle.com/adf/faces/rich">
  <jsp:directive.page contentType="text/html;charset=UTF-8"/>
  <f:view>
    <af:document id="d1">
      <af:form id="f1" usesUpload="true">
        <af:panelHeader text="Emp Details" id="ph1" size="1">
          <f:facet name="context"/>
          <f:facet name="menuBar"/>
          <f:facet name="toolbar"/>
          <f:facet name="legend"/>
          <f:facet name="info"/>
          <af:panelFormLayout id="pfl1" partialTriggers="it1">
            <af:inputFile label="Label 1" id="if1"/>
            <af:panelLabelAndMessage label="Emp Number" id="plam1">
              <af:inputText value="#{pageFlowScope.empNumber}" id="it1" autoSubmit="true"
                            valueChangeListener="#{TestBean.onEmpNumberChange}"
                            binding="#{TestBean.empId}"/>
            </af:panelLabelAndMessage>
            <af:panelLabelAndMessage label="First Name" id="plam2">
              <af:inputText value="#{pageFlowScope.firstName}" id="it2"/>
            </af:panelLabelAndMessage>
            <af:panelLabelAndMessage label="Last Name" id="plam3">
              <af:inputText value="#{pageFlowScope.lastName}" id="it3"/>
            </af:panelLabelAndMessage>
          </af:panelFormLayout>
        </af:panelHeader>
      </af:form>
    </af:document>
  </f:view>
</jsp:root>
