<?xml version='1.0' encoding='UTF-8'?>
<jsp:root xmlns:jsp="http://java.sun.com/JSP/Page" version="2.1"
          xmlns:f="http://java.sun.com/jsf/core"
          xmlns:h="http://java.sun.com/jsf/html"
          xmlns:af="http://xmlns.oracle.com/adf/faces/rich">
  <jsp:directive.page contentType="text/html;charset=UTF-8"/>
  <f:view>
    <af:document id="d1">
      <af:messages id="m1"/>
      <af:form id="f1">
        <af:panelFormLayout id="pfl1" partialTriggers="cb3 cb5 cb2 cb4 cb1">
          <af:inputText value="#{bindings.Id.inputValue}"
                        label="#{bindings.Id.hints.label}"
                        required="#{bindings.Id.hints.mandatory}"
                        columns="#{bindings.Id.hints.displayWidth}"
                        maximumLength="#{bindings.Id.hints.precision}"
                        shortDesc="#{bindings.Id.hints.tooltip}" id="it1">
            <f:validator binding="#{bindings.Id.validator}"/>
            <af:convertNumber groupingUsed="false"
                              pattern="#{bindings.Id.format}"/>
          </af:inputText>
          <af:inputText value="#{bindings.Ename.inputValue}"
                        label="#{bindings.Ename.hints.label}"
                        required="#{bindings.Ename.hints.mandatory}"
                        columns="#{bindings.Ename.hints.displayWidth}"
                        maximumLength="#{bindings.Ename.hints.precision}"
                        shortDesc="#{bindings.Ename.hints.tooltip}" id="it5">
            <f:validator binding="#{bindings.Ename.validator}"/>
          </af:inputText>
          <af:inputText value="#{bindings.Mon.inputValue}"
                        label="#{bindings.Mon.hints.label}"
                        required="#{bindings.Mon.hints.mandatory}"
                        columns="#{bindings.Mon.hints.displayWidth}"
                        maximumLength="#{bindings.Mon.hints.precision}"
                        shortDesc="#{bindings.Mon.hints.tooltip}" id="it3"
                        rendered="false">
            <f:validator binding="#{bindings.Mon.validator}"/>
          </af:inputText>
          <af:inputText value="#{bindings.Tue.inputValue}"
                        label="#{bindings.Tue.hints.label}"
                        required="#{bindings.Tue.hints.mandatory}"
                        columns="#{bindings.Tue.hints.displayWidth}"
                        maximumLength="#{bindings.Tue.hints.precision}"
                        shortDesc="#{bindings.Tue.hints.tooltip}" id="it9"
                        rendered="false">
            <f:validator binding="#{bindings.Tue.validator}"/>
          </af:inputText>
          <af:inputText value="#{bindings.Wed.inputValue}"
                        label="#{bindings.Wed.hints.label}"
                        required="#{bindings.Wed.hints.mandatory}"
                        columns="#{bindings.Wed.hints.displayWidth}"
                        maximumLength="#{bindings.Wed.hints.precision}"
                        shortDesc="#{bindings.Wed.hints.tooltip}" id="it2"
                        rendered="false">
            <f:validator binding="#{bindings.Wed.validator}"/>
          </af:inputText>
          <af:inputText value="#{bindings.Thu.inputValue}"
                        label="#{bindings.Thu.hints.label}"
                        required="#{bindings.Thu.hints.mandatory}"
                        columns="#{bindings.Thu.hints.displayWidth}"
                        maximumLength="#{bindings.Thu.hints.precision}"
                        shortDesc="#{bindings.Thu.hints.tooltip}" id="it7"
                        rendered="false">
            <f:validator binding="#{bindings.Thu.validator}"/>
          </af:inputText>
          <af:inputText value="#{bindings.Fri.inputValue}"
                        label="#{bindings.Fri.hints.label}"
                        required="#{bindings.Fri.hints.mandatory}"
                        columns="#{bindings.Fri.hints.displayWidth}"
                        maximumLength="#{bindings.Fri.hints.precision}"
                        shortDesc="#{bindings.Fri.hints.tooltip}" id="it8"
                        rendered="false">
            <f:validator binding="#{bindings.Fri.validator}"/>
          </af:inputText>
          <af:inputText value="#{bindings.Sat.inputValue}"
                        label="#{bindings.Sat.hints.label}"
                        required="#{bindings.Sat.hints.mandatory}"
                        columns="#{bindings.Sat.hints.displayWidth}"
                        maximumLength="#{bindings.Sat.hints.precision}"
                        shortDesc="#{bindings.Sat.hints.tooltip}" id="it6"
                        rendered="false">
            <f:validator binding="#{bindings.Sat.validator}"/>
          </af:inputText>
          <af:inputText value="#{bindings.Sun.inputValue}"
                        label="#{bindings.Sun.hints.label}"
                        required="#{bindings.Sun.hints.mandatory}"
                        columns="#{bindings.Sun.hints.displayWidth}"
                        maximumLength="#{bindings.Sun.hints.precision}"
                        shortDesc="#{bindings.Sun.hints.tooltip}" id="it4"
                        rendered="false">
            <f:validator binding="#{bindings.Sun.validator}"/>
          </af:inputText>
          <f:facet name="footer">
            <af:panelGroupLayout layout="vertical" id="pgl1">
              <af:panelGroupLayout layout="horizontal" id="pgl2">
                <af:commandButton actionListener="#{bindings.First.execute}"
                                  text="First"
                                  disabled="#{!bindings.First.enabled}"
                                  partialSubmit="true" id="cb5"/>
                <af:commandButton actionListener="#{bindings.Previous.execute}"
                                  text="Previous"
                                  disabled="#{!bindings.Previous.enabled}"
                                  partialSubmit="true" id="cb2"/>
                <af:commandButton actionListener="#{bindings.Next.execute}"
                                  text="Next"
                                  disabled="#{!bindings.Next.enabled}"
                                  partialSubmit="true" id="cb3"/>
                <af:commandButton actionListener="#{bindings.Last.execute}"
                                  text="Last"
                                  disabled="#{!bindings.Last.enabled}"
                                  partialSubmit="true" id="cb4"/>
              </af:panelGroupLayout>
              <af:commandButton text="Submit" id="cb1"
                                actionListener="#{bindings.Commit.execute}"/>
            </af:panelGroupLayout>
          </f:facet>
          <af:selectManyListbox label="Select" id="sml1"
                                value="#{TestBean.list}" autoSubmit="true"
                                valueChangeListener="#{TestBean.onValueChange}">
            <!--af:selectItem label="Monday" value="Mon" id="si1"/>
            <af:selectItem label="Tuesday" value="Tue" id="si2"/>
            <af:selectItem label="Wednesday" value="Wed" id="si3"/>
            <af:selectItem label="Thursday" value="Thu" id="si4"/>
            <af:selectItem label="Friday" value="Fri" id="si5"/>
            <af:selectItem label="Saturday" value="Sat" id="si6"/>
            <af:selectItem label="Sunday" value="Sun" id="si7"/-->
            <af:forEach items="#{bindings.DaysOfWeekVO1.rangeSet}" var="item">
            <af:selectItem id="af1" label="#{item.Meaning}"
                           value="#{item.LookupCode}"/>
          </af:forEach>
          </af:selectManyListbox>
        </af:panelFormLayout>
      </af:form>
    </af:document>
  </f:view>
</jsp:root>
